.bg-light {
    background-color: #fff !important
}

.border-dark {
    border-color: rgb(204, 203, 203)!important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #f5f5f5;
    color: #4e4e4e;
    box-sizing: border-box;
}

.bg-info {
    background-color: #0078ff !important;
    color: #fff!important;
}

.about h2 {
    position: relative;
}

.about h2::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -6px;
    left: 0;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.507)), url('../images/intro-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    height: 100vh;
    margin-bottom: 5%;
}

section.services .icon {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #0078ff;
    transition: all .6s ease;
}

section.services .icon:hover {
    box-shadow: 0 0 0 10px #0077ff7c;
}

section.services .icon:hover {
    background-color: #0078ff;
    color: #fff;
}

section.services {
    margin-top: 5%;
}


/* ////////////////////////////////// */

.services span {
    position: relative;
}

.services span::after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: #0078ff;
    width: 50px;
    bottom: -20 px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ////////////////////////////////// */

section.work {
    padding: 8rem;
    background: linear-gradient( #0077ff80, #0077ff70), url(../images/counters-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

section.work .counter-icon {
    width: 4rem;
    height: 4rem;
    border: 5px solid rgba(255, 255, 255, 0.603);
    border-radius: 100%;
    font-size: 1.2rem;
    color: #fff;
}


/* section slider style */

.slider{
    background-image: linear-gradient(rgba(0, 119, 255, 0.664) , rgba(0, 119, 255, 0.664)) , url(../images/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    padding: 8rem 0;
  }

  .slider-img h4{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1rem;
  }
  .about-slider p{
    line-height: 1.8;
    color: white;
  }
  .par{
    width: 65%;
  }

  .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .carousel-indicators{
    top: 120%;
  }

  .card-body a, .card-footer a{
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .card-body a:hover, .card-footer a:hover{
    color: #0078ff;
  }
  .card-body h3{
    font-size: 1.3rem;
    margin-top: .6rem;
    font-weight: 500;
  }
.card-img img{
  height: 32px;
  width: 32px;
}
.clock{
  color:  #8a8a8a;
}
.card-head{
  top: -8%;
  background-color: #0078ff;
  
}
.card-head h6{
  color: #fff;
    font-size: .7rem;
    
    
    
}


 /* end slider section */

/* Start contact section */

#contact {
    background: linear-gradient(rgb(0, 120, 255, .7), rgb(0, 120, 255, .7)), url('../images/overlay-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 0;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.contact-info {
    background-color: #fff;
    padding: 3rem;
}

.contact-info h2 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #1e1e1e;
    padding-bottom: 7px;
    margin-bottom: 3rem;
    position: relative;
}

.contact-info h2::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: #0078ff;
    left: 0;
    top: 100%;
}

.contact-info form button {
    padding: 10px 24px;
    transform: translateX(-50%);
    margin-top: 1.5rem;
    font-size: 1.2rem;
    transition: all .8s;
}

.contact-info form button:hover {
    border: 4px solid #acd5ff;
}

#contact .contact-info .contact-me p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #4e4e4e;
}

#contact .contact-info .contact-me ul {
    padding-left: 0;
}

#contact .contact-info .contact-me ul li {
    margin-bottom: .5rem;
    color: #4e4e4e;
}

#contact .contact-info .contact-me ul li i {
    color: #0078ff;
    font-size: 1rem;
    margin-right: 10px;
}

#contact .contact-info .contact-me .social-icons span {
    display: inline-block;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0078ff;
    text-align: center;
    transition: all .8s;
}

#contact .contact-info .contact-me .social-icons span i {
    color: #1e1e1e;
    font-size: 1.2rem;
}

#contact .contact-info .contact-me span:hover {
    background-color: #0078ff;
    border: 2px solid #cde1f8;
}

#contact .contact-info .contact-me span:hover i {
    color: #fff;
}


/* end contact section */


/* start footer section */

footer {
    background-color: #0062d3;
    color: #fff;
    text-align: center;
}

footer .footer-content {
    padding: 20px;
}

footer .footer-content p {
    color: #fff;
}

footer a {
    font-size: 1.2rem;
    font-weight: 500;
}